name: Build Android APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - name: Install Cordova
        run: npm install -g cordova
      - name: Install Dependencies
        run: npm install
      - name: Add Android Platform
        run: cordova platform add android
      - name: Build APK
        run: cordova build android --debug
      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: wa-bluetooth-apk
          path: platforms/android/app/build/outputs/apk/debug/app-debug.apk